Package: com.opa334.crane
Section: Tweaks
Installed-Size: 3376
Maintainer: opa334
Architecture: iphoneos-arm
Version: 1.3.1
Depends: firmware (>= 11.0), mobilesubstrate, preferenceloader, com.opa334.altlist (>= 1.0.5), com.opa334.libsandy, com.opa334.libundirect (>= 1.1) | firmware (<< 14.0)
Conflicts: com.opa334.cranelite, com.rpgfarm.slices3, com.subdiox.slices2, com.expetelek.slices
Description: Multiple containers for your applications!
Name: Crane
Author: opa334
