Package: com.jontelang.instalauncher2
Name: InstaLauncher 2
Version: 1.8.2
Section: Tweaks
Architecture: iphoneos-arm
Depends: mobilesubstrate, preferenceloader, applist(>=1.5.15), firmware(>=12.1)
Conflicts: com.jontelang.instalauncher2.beta
Installed-Size: 1148
Author: Jonathan Winger Lang <jontelang@gmail.com>
Maintainer: Jonathan Winger Lang <jontelang@gmail.com>
Description: Launch ANY app instantly
Icon: file:///Library/PreferenceBundles/instalauncher2preferences.bundle/icons/preferences-icon@2x.png
